.body2{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    width: 100% !important;
    display: flex;
    justify-content: center;
    clip-path: polygon(20% 1%, 27% 3%, 41% 0, 60% 3%, 79% 1%, 100% 3%, 100% 100%, 0 100%, 0 0, 11% 3%);
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form{
    display: flex;
    justify-content: center;
}


.info-container{
    border: 0px solid rgb(255, 255, 255);
    box-shadow: 0.2px 0.2px white;
    margin-top: 9vh;
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fdfdfd;
    border-radius: 5px;
    height: fit-content;
}

.gra{
    --border-width: 5px;
}

.gra::after{
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 90%, 48%),
      hsl(269, 80%, 52%),
      hsl(314, 91%, 46%),
      hsl(359, 90%, 28%),
      hsl(44, 85%, 40%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  
}
@keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }


p{
    margin: 10px !important;
}

.note{
    border: 0px solid rgb(255, 255, 255);
    margin-top: 15vh !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    border-radius: 5px;
    height: 200px;
    min-width: 500px;
    background-color: #fdfdfd9a;
    font-style: italic;
}

.bg{
    background-color: rgb(132, 174, 238);
    height: 120px;
    width: 100%;
    position: absolute;
    top: -2.0%;
    border-radius: 5px;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 64%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 64%);
    
}

.fi{
    transform: translateY(3px);
    margin-right: 3px;
}
.text{
    color: #414141 !important;
}
.email{
    transform: translateX(-50px);
    font-family: Arial, Helvetica, sans-serif;
    color: #1276b9;
    cursor: pointer;
}
.des{
    margin-top: 18px !important;
    padding: 0.5vh 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.i{
    font-size: 20px;
    margin:20px 0px;
    cursor: pointer;
    transition: 0.4s all;
}

.i:hover{
    transform: translateY(-1px);
    color: #dd2c70;
}

.i:not(:last-child){
    margin-right: 10px;
}

input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #000000;
  }
input:focus 		{ outline:none; }
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  .bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  .button {
	min-width: 150px;
	max-width: 250px;
	display: block;
	padding: 0.4em 2em;
	border: 1px solid rgba(121, 117, 117, 0.678);
    border-radius: 20px;
	background: none;
	color: inherit;
    font-size: 18px;
    transition: 0.5s all;
    margin: 1em 20%;
    cursor: pointer;
}
.button:focus {
	outline: none;
}
.button:hover{
    color: #5264AE;
    border: 1px solid #5264AE;
    transform: translateY(-1px);
    box-shadow: #757575;
}

